article {

  h2, h3, h4, h5, h6 {
    text-transform: none;
  }

  h2, h3 {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  p, li {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 12px;
  }

  pre { // code snippets
    margin: 24px 0;
  }

  img { // include images as html instead of md if custom styling is required
    display: block;
    margin: 48px auto;
    @extend .img-responsive;
  }

  iframe, video {
    margin: 36px 0 24px;
  }

  .with-caption {
    margin-bottom: 12px;
    & + em, & + p { // nearest following em or p which should contain caption text
      color: #888;
      display: block;
      font-size: 13px;
      margin-bottom: 36px;
      text-align: center;
    }
  }

  .footnotes {
    font-size: 13px;
    font-style: italic;
  }
}

#comments {
  padding-top: 60px;
}
