article {

  h2, h3, h4, h5, h6 {
    text-transform: none;
  }

  h2, h3 {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  p, li {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 12px;
  }

  pre { // code snippets
    margin: 24px 0;
  }

  img { // include images as html instead of md if custom styling is required
    display: block;
    margin: 48px auto;
    @extend .img-responsive;
  }

  iframe, video {
    margin: 36px 0 24px;
  }

  .with-caption {
    margin-bottom: 12px;
    & + em, & + p { // nearest following em or p which should contain caption text
      color: #888;
      display: block;
      font-size: 13px;
      margin-bottom: 36px;
      text-align: center;
    }
  }

  .footnotes {
    font-size: 13px;
    font-style: italic;
  }
}

#comments {
  padding-top: 60px;
}

header {
    text-align: center;
    background-image: url('/img/kantoor.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    .container {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    img {
        display: block;
        margin: 0 auto 20px;
    }
    .intro-text {
        .name {
            img {
                width: 250px;
            }
        }
        .skills {
            font-size: 1.25em;
            font-weight: 300;
        }
    }
    .intro-desc {
      bottom: 50px;
      position: relative;
      text-align: center;
      z-index: 2;
      a, a:active, a:visited {
        color: #fff;
        outline: none;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      p {
        font-size: 20px;
      }
      p .research {
        display: inline-block;
        font-size: 14px;
        line-height: 1.5em;
      }
      .separator {
        margin: 24px auto;
      }
      .icon-research {
        background-image: url("/img/research.png");
        background-repeat: no-repeat;
        display: block;
        height: 150px;
        margin: 0 auto;
        width: 150px;
      }
    }

    &:before {
    	content: "";
    	display: block;
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	//background: rgba(118, 53, 34, 0.8);
      background: rgba(31, 18, 10, 0.85);
    	-moz-transition: background .3s linear;
    	-webkit-transition: background .3s linear;
    	-o-transition: background .3s linear;
    	transition: background .3s linear;
    }

    &.blog {
      background-image: none;
      overflow: hidden;
      height: 410px;

      .leadimg {
        position: absolute;
        left: 0;
        @media (min-width: 1300px) {
          top: -20%;
        }
        min-width: 100%;
        min-height: 100%;
      }

      .article-heading {
        position: absolute;
        bottom: 40px;
        z-index: 2;

        .tags {
          font-size: 14px;
          font-weight: 300;
          text-align: left;
          text-transform: uppercase;

          .fa {
            font-size: 22px;
            margin-right: 4px;
          }
        }

        h1 {
          margin-left: 12px;
          font-size: 50px;
          font-weight: 500;
          text-align: left;
          text-transform: none;
        }

        .nerd {

          padding-left: 14px;

          &.protip {

            &:hover {

              &:after {
                bottom: 4em;
                left: 1;
              }

              &:before {
                bottom: 3.6em;
                left: 2em;
              }
            }
          }
        }
      }

      &:before {
      	content: "";
      	display: block;
      	position: absolute;
      	top: 0;
      	bottom: 0;
      	left: 0;
      	right: 0;
        background-color: transparent;
        background-image: linear-gradient(rgba(65, 99, 117, 0.8), rgba(65, 99, 117, 0.8));
      	-moz-transition: background .3s linear;
      	-webkit-transition: background .3s linear;
      	-o-transition: background .3s linear;
      	transition: background .3s linear;
        z-index: 1;
      }
    }
}

.navbar {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  a:focus {
    outline: none;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li {
      a:focus {
        outline: none;
      }
    }
  }
  .navbar-brand {
    img {
      width: 120px;
      margin-top: -5px
    }
  }
}



.navbar.navbar-fixed-top.navbar-inverse {
    //background-color: #222;
    background-color: transparent;
    border: none;
    .page-scroll.active a{
      background-color: transparent;
    }
}

// navbar overrides
.navbar.navbar-fixed-top.navbar-inverse.navbar-shrink{
  background-color: #222;
  .page-scroll.active a{
    background-color: #090909;
  }
}
.navbar-fixed-top .navbar-brand img {
  opacity: .5 !important;
}
.navbar-shrink {
  background-color: #222;
  .navbar-brand {
    opacity: initial;
  }
}
//


.tg-logo-inverse{
  display: none;
}


//different menu styling for blog
.navbar.navbar-inverse.blog .navbar-nav > li > a {
  color: #fff;
  &:hover{
    color: #ddd;
  }
}
.navbar-inverse.blog ul.navbar-nav li.divider-vertical{
      border-right: 2px solid #fff;
}


//different menu styling for 3d framework
.navbar-inverse.framework{
  .tg-logo-inverse{
    display: block;
  }
  .tg-logo{
    display: none;
  }
}
.navbar-inverse.framework .navbar-nav > li{
  > a {
    color: #bbb;
    background: none;
    //color: #fff;
    &:hover{
      background: none;
      color: #000;
    }
  }
  &.active{
    a{
      color: #000;
    }
  }
}
.navbar-inverse.framework ul.navbar-nav li.divider-vertical{
      border-right: 2px solid #bbb;
}



//shrink for blog and framework
.navbar-inverse.framework.navbar-shrink{
  .tg-logo-inverse{
    display: none;
  }
  .tg-logo{
    display: block;
  }
}

.navbar.navbar-inverse.blog.navbar-shrink .navbar-nav > li > a,
.navbar.navbar-inverse.framework.navbar-shrink .navbar-nav > li > a {
  color: #777777;
  &:hover{
    background-color: #000;
  }
}
.navbar-inverse.blog.navbar-shrink ul.navbar-nav li.divider-vertical,
.navbar-inverse.framework.navbar-shrink ul.navbar-nav li.divider-vertical{
      border-right: 2px solid #777;
}

.navbar .divider-vertical {
  height: 30px;
  margin: 10px 5px;
  border-right: 2px solid #777;
}


section {
    padding: 100px 0;
    h2 {
        margin: 0;
        font-size: 3em;
    }
}

section.success {
    background: $brand-success;
    color: white;

    hr.star-light:after {
        background-color: $brand-success;
        color: white;
    }

    p {
        a {
            color: white;
        }
    }
}

section#static {
    padding: 200px 100px 100px 100px;
}

section#portfolio {
  h2 {
    text-transform: uppercase;
  }
  * {
    z-index: 2;
  }
}

section#about {
  padding-bottom: 0;
  text-align: center;
  h2 {
    text-transform: uppercase;
  }
  .cubes {
    position: relative;
    top: 60px;
    border: 1px solid #eee;
  }
  .cube {
    background-color: white;
    //border: 1px solid #eee;
    height: 300px;
    padding: 0;
    overflow: hidden;
    p {
      color: #666;
    }
    .number {
      font-family: monospace;
      font-size: 44px;
      font-weight: bold;
      color: $brand-success;
      display: inline-block;
      line-height: 2em;
      margin-top: 50px;
      .large {
        font-size: 88px;
        line-height: 44px;
      }
    }
    img {
      height: 100%;
      width: auto;
    }
    .btn {
      margin-top: 20px;
    }
  }
}

section#team {
  padding-top: 160px;
  padding-bottom: 0;
  h2 {
    text-transform: uppercase;
  }
}

section#cases {
    padding: 200px 0 100px 0;
    .star-primary {
        margin-bottom: 0;
    }
    .cases-body {
        max-width: 820px;
        margin-top: 60px;
        margin-bottom: 60px;
        &.one-liner p {
            margin-bottom: 22px;
            font-size: 20px;
        }
    }
    h1, h2 {
      text-transform: uppercase;
    }
    h3 {
      color: #333;
      font-size: 20px;
      font-weight: 500;
      margin: 30px 0 12px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      text-align: center;
      &.intro {
        font-size: 16px;
      }
    }

    @media (max-width: 766px) {
        p.intro {
            max-width: 360px;
            margin: 0 auto 60px;
        }
    }
}
