
$brand-primary: #763522;
$brand-success: #416375;
$brand-dark-success: #02151F;
$gray-lighter: lighten(#000, 93.5%);
$fa-font-path: "../fonts";

@import "vendor/bootstrap-sass-twbs/assets/stylesheets/bootstrap.scss";
@import "vendor/fontawesome/scss/font-awesome.scss";
@import "_theme.scss";
