body {
  color: $gray;
  font-size: $mediumFont;
  font-weight: 200;
}

p {
  font-size: $mediumFont;
  font-weight: 200;
  line-height: 1.5em;

  &.small {
    font-size: $smallFont;
  }
}

p a {
  font-weight: bold;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: $brand-primary;
    outline: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

strong {
    font-weight: 700;
}

hr.star,
hr.star-light,
hr.star-primary,
hr.star-success {
    padding: 0;
    border: none;
    border-top: solid 8px;
    text-align: center;
    max-width: 196px;
    margin: 25px 0 60px;
}

hr.star-light {
    border-color: white;
}

hr.star-primary {
    border-color: $brand-accent;
}

hr.star-success {
    border-color: $brand-accent;
}

hr.star-success:after {
    background-color: white;
    color: $brand-primary;
}

hr.separator {
    border-top: 8px solid $brand-accent;
    margin: 40px auto;
    width: 196px;
}

.img-centered {
    margin: 0 auto;
}

.code.btn {
  background-color: #bbb;
  border-color: #bbb;
  margin-top: 12px;
  &:hover {
    background-color: #aaa;
    border-color: #aaa;
  }
}

.icon-nerd {
  background-image: url('/assets/img/icon-nerd.png');
  display: inline-block;
  height: 30px;
  width: 26px;
  margin: 0 0 0 2px;
}

.icon-nerd-xs {
  background-image: url('/assets/img/icon-nerd-xs.png');
  display: inline-block;
  height: 18px;
  width: 16px;
  margin: 0 0 0 4px;
}

.icon-nerd-xl-grey {
  background-image: url('/assets/img/icon-nerd-xl-grey.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 60px;
  width: 51px;
  margin: 0 0 0 4px;
}

video, iframe {
  width: 100%;
}

.protip {
  display: inline;
  position: relative;

  &:hover {
    color: #c00;
    text-decoration: none;

    &:after {
      background: #111;
      background: rgba(0,0,0,.8);
      border-radius: .5em;
      bottom: 1.7em;
      color: #fff;
      content: attr(title);
      display: block;
      left: 0;
      padding: 4px;
      position: absolute;
      text-shadow: 0 1px 0 #000;
      white-space: nowrap;
      z-index: 98;
      font-size: 13px;
    }

    &:before {
      border: solid;
      border-color: #111 transparent;
      border-color: rgba(0,0,0,.8) transparent;
      border-width: .4em .4em 0 .4em;
      bottom: 1.3em;
      content: "";
      display: block;
      left: 1em;
      position: absolute;
      z-index: 99;
      font-size: 13px;
    }
  }
}

.portfolio-item {
    margin: 0 0 15px;
    right: 0;
    img{
      max-width: 100%;
    }
    .portfolio-link {
        display: block;
        position: relative;
        max-width: 360px;
        margin: 0 auto;

        .caption {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            &:hover {
                opacity: 1;
                background: fade-out($brand-accent, 0.1);
            }
            .caption-content {
                position: absolute;
                width: 100%;
                height: 20px;
                font-size: 20px;
                text-align: center;
                top: 50%;
                margin-top: -12px;
                color: white;
                i {
                    margin-top: -12px;
                }
                h3,
                h4 {
                    margin: 0;
                }
            }
        }
    }
}

.member-card {
  height: 140px;

  a.member-image {
    background-image: url('/assets/img/team.jpg');
    background-size: 480px 320px;
    background-position: 0px 0px;
    display: block;
    float: left;
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-right: 14px;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;

    &:hover{
      background-position: 0px -80px;
    }

    &.Bram{
      background-position: -80px 0;
      &:hover{
        background-position: -80px -80px;
      }
    }
    &.Daniel{
      background-position: -160px 0;
      &:hover{
        background-position: -160px -80px;
      }
    }
    &.Daniella{
      background-position: -240px 0;
      &:hover{
        background-position: -240px -80px;
      }
    }
    &.Dennis{
      background-position: -320px 0;
      &:hover{
        background-position: -320px -80px;
      }
    }
    &.Erik{
      background-position: -400px 0;
      &:hover{
        background-position: -400px -80px;
      }
    }
    &.Hugo{
      background-position: 0px -160px;
      &:hover{
        background-position: 0px -240px;
      }
    }
    &.Marlon{
      background-position: -80px -160px;
      &:hover{
        background-position: -80px -240px;
      }
    }
    &.Robert{
      background-position: -160px -160px;
      &:hover{
        background-position: -160px -240px;
      }
    }
    &.RubenN{
      background-position: -240px -160px;
      &:hover{
        background-position: -240px -240px;
      }
    }
    &.RubenT{
      background-position: -320px -160px;
      &:hover{
        background-position: -320px -240px;
      }
    }
  }

  span {
    display: block;
  }

  .name {
    font-weight: 300;
    padding-top: 24px;
  }

  .job, .email {
    font-size: $smallFont;
  }

  @media (max-width: 990px) {
    #post-content & {
      float: left;
      min-width: 290px;
      height: 180px;
      padding-top: 50px;
    }
  }
}

.blog-items {
  .about {
    padding-top: 10px;

    p {
      line-height: 1em;
    }
  }
}

@media(max-width:767px) {
  .label-blog-type{
      left: -24px;
      &:after{
        border-width: 0 .6em .6em 0;
      }
  }


}

#about-blog{
  .label-inline{
    color: #fff;
    padding: 5px 5px 5px 9px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 6px;
  }
  .label-technology-inline{
    // background-color: #db2828;
    // border-color: #b21e1e;
    background-color: #a1171a;
    border-color: #7c1214;


    //width: 83px;

    a {
      color : #fff;
      text-decoration: none;
      font-weight: bold;
    }
  }
  .label-business-inline{
    background-color: #416375;
    border-color: #1C4052;
    a {
      color : #fff;
      text-decoration: none;
      font-weight: bold;
    }
  }
  p{
    font-size: 16px;
  }

}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

.recent-posts {
  padding-top: 20px;
  h3 {
    font-size: 20px;
    padding: 16px 0;
    margin-bottom: 30px;
  }
  .heading {
    font-size: 24px;
    padding-bottom: 0px;
  }
  .date {
    display: none;
  }
}

.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $brand-primary;
        background: white;
        border: solid 2px white;
    }
}

#contact .alert {
    display: none;
}

#contact {
  padding-top: 10px;

  h2 {
    text-transform: uppercase;
  }
  .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* on a post's page, the contact form differs slightly */
#post-content #contact {
  margin-top: 40px;

  form {
    clear: both;
  }
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $gray-lighter;
    input,
    textarea {
        z-index: 1;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        border: none;
        border-radius: 0;
        font-size: 1.5em;
        background: none;
        box-shadow: none !important;
        resize: none;
    }
    label {
        display: block;
        z-index: 0;
        position: relative;
        top: 2em;
        margin: 0;
        font-size: 0.85em;
        line-height: 1.764705882em;
        vertical-align: middle;
        vertical-align: baseline;
        opacity: 0;
        -webkit-transition: top 0.3s ease,opacity 0.3s ease;
        -moz-transition: top 0.3s ease,opacity 0.3s ease;
        -ms-transition: top 0.3s ease,opacity 0.3s ease;
        transition: top 0.3s ease,opacity 0.3s ease;
    }
    &:not(:first-child) {
        padding-left: 14px;
        border-left: 1px solid $gray-lighter;
    }
}

.floating-label-form-group-with-value {
    label {
        top: 0;
        opacity: 1;
    }
}

.floating-label-form-group-with-focus {
    label {
        color: $brand-primary;
    }
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid $gray-lighter;
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
    .btn {
        font-size: 20px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        line-height: 28px;
        &:focus {
            outline: none;
        }
    }
}

div.truncate-2-lines {
  display: -webkit-box;
  font-size: 16px;
  line-height: 28px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.case {
  background-color: #E7E7E7;
  padding: 60px 0 60px;
  margin-bottom: 130px;

  div.screen {
    margin-top: 50px;
  }

  img {
    max-width: 100%;
  }
}
