article {

  h2, h3, h4, h5, h6 {
    @extend .textSubHeading;
    margin-top: 32px;
    margin-bottom: 16px;
    text-transform: none;
  }

  p, li {
    font-weight: 300;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 12px;
  }

  pre { // code snippets
    margin: 24px 0;
  }

  img, p img { // include images as html instead of md if custom styling is required
    display: block;
    margin: 48px auto;
    max-width: 100%;
  }

  iframe, video {
    margin: 36px 0 24px;
  }

  .with-caption {
    margin-bottom: 12px;
    & + em, & + p { // nearest following em or p which should contain caption text
      color: #888;
      display: block;
      @extend .metaSubText;
      margin-bottom: 36px;
      text-align: center;
    }
  }

  .footnotes {
    @extend .metaSubText;
    font-style: italic;
  }
}

#comments {
  padding-top: 60px;
}

header {
    text-align: center;
    background-image: url('/assets/img/kantoor.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    .container {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    img {
        display: block;
        margin: 0 auto 20px;
    }
    .intro-text {
        .name {
            img {
                width: 250px;
                max-width: 100%;
            }
        }
        .skills {
            font-size: 1.25em;
            font-weight: 300;
        }
    }
    .intro-desc {
      text-align: left;
      z-index: 2;
      width: 100%;
      a, a:active, a:visited {
        color: #fff;
        outline: none;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      p {
        @extend .paragraphText;
      }
      p .research {
        display: inline-block;
        @extend .metaText;
        line-height: 1.5em;
      }
      .separator {
        margin: 24px auto;
      }
      .icon-research {
        background-image: url("/assets/img/research.png");
        background-repeat: no-repeat;
        background-size: 100px;
        display: block;
        height: 100px;
        width: 100px;
      }
    }

    &:before {
    	content: "";
    	display: block;
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
      background: $brand-primary;
    	-moz-transition: background .3s linear;
    	-webkit-transition: background .3s linear;
    	-o-transition: background .3s linear;
    	transition: background .3s linear;
      opacity: 0.85;
    }

    &.blog {
      background-image: none;
      overflow: hidden;
      height: 410px;

      .intro-desc {
        .separator {
          margin: 24px 14px;
        }
      }

      .leadimg {
        position: absolute;
        left: 0;
        width: 100%;
        min-width: 700px; // Prevent it from getting too small on mobile
        @media (min-width: 1300px) {
          top: -20%;
        }
      }

      .article-heading {
        position: absolute;
        bottom: 40px;
        width: 90%;
        z-index: 2;

        &.overview {

          h1, h2, h3 {
            text-align: center;
          }

          .intro-desc {
            text-align: center;

            .separator {
              margin: 24px auto;
            }

            .icon-research {
              margin: 0 auto;
            }
          }
        }

        .tags {
          @extend .metaText;
          font-weight: 300;
          text-align: left;
          text-transform: uppercase;

          .fa {
            font-size: 22px;
            margin-right: 4px;
          }
        }

        h1, h2, h3, h4, h5, h6 {
          margin-left: 12px;
          @extend .sectionHeading;
          font-weight: 500;
          text-align: left;
          text-transform: lowercase;
        }

        .nerd {

          padding-left: 14px;

          &.protip {

            &:hover {

              &:after {
                bottom: 4em;
                left: 1;
              }

              &:before {
                bottom: 3.6em;
                left: 2em;
              }
            }
          }
        }
      }

      &:before {
      	content: "";
      	display: block;
      	position: absolute;
      	top: 0;
      	bottom: 0;
      	left: 0;
      	right: 0;
        background-color: $brand-primary;
        opacity: .85;
        z-index: 1;
      }
    }
}

header.home {
  height: 100vh;
  position: relative;

  .scroller {
    background-image: url("/assets/img/scroller.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    display: block;
    font-size: 0;
    height: 100px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 40px;
  }
}

.navbar {
  @extend .metaText;
  font-weight: 300;
  text-transform: lowercase;
  a:focus {
    outline: none;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li {
      a:focus {
        outline: none;
      }
    }
  }
  .navbar-brand {
    img {
      width: 40px;
      margin-top: -5px
    }
  }
}

.navbar.navbar-fixed-top.navbar-inverse {
    background-color: transparent;
    border: none;
    .page-scroll.active a{
      background-color: transparent;
    }
}

// navbar overrides
.navbar.navbar-fixed-top.navbar-inverse.navbar-shrink{
  background-color: $brand-primary;
  .page-scroll.active a{
    background-color: transparent;
  }
}
.navbar-shrink, .navbar.navbar-fixed-top.framework {
  background-color: $brand-primary;
  .navbar-brand {
    opacity: initial;
  }
}
.navbar-inverse .navbar-nav>li>a {
  color: $white;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background: transparent;
}

.tg-logo-inverse{
  display: none;
}

.navbar .divider-vertical {
  height: 30px;
  margin: 10px 5px;
  border-right: 1px solid $white;
}


section {
  background-color: $white;
  padding: 100px 0;
  h2 {
    margin: 0;
  }
}

.section-heading {

  h1, h2, h3, h4, h5, h6 {
    color: $brand-primary;
    @extend .sectionHeading;
    text-transform: lowercase;
  }

  &.small {

    h1, h2, h3, h4, h5, h6 {
      color: $brand-primary;
      @extend .textHeading;
    }
  }
}

section.success {
  background: $brightGray;
}

section#static {
    padding: 200px 100px 100px 100px;
}

section#portfolio {
  * {
    z-index: 2;
  }
}

section#about {
  padding-bottom: 0;

  .cubes {
    position: relative;
    top: 60px;
    border: 1px solid #eee;
  }
  .cube {
    background-color: white;
    height: 300px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    .number {
      font-family: monospace;
      @extend .textHeading;
      font-weight: bold;
      color: $brand-primary;
      display: inline-block;
      line-height: 2em;
      margin-top: 50px;
      .large {
        font-size: 88px;
        line-height: 44px;
      }
    }
    img {
      height: 100%;
      width: auto;
    }
    .btn {
      margin-top: 20px;
    }
  }
}

section#team {
  padding-top: 160px;
}

section#cases {
    padding: 200px 0 100px 0;
    .cases-body {
        max-width: 820px;
        margin-top: 120px;
        margin-bottom: 60px;
        &.one-liner p {
            margin-bottom: 22px;
            @extend .introText;
        }
    }
    h3 {
      @extend .textSubHeading;
      margin: 30px 0 12px;
      color: $brand-primary;
      max-width: 360px;
    }

    p.intro {
      @extend .paragraphText;
    }

    @media (max-width: 766px) {
        p.intro {
            max-width: 360px;
            margin: 0 auto 60px;
        }
    }

    .cases.row {
      margin-top: 60px;
    }
}

section#contact {
  background-color: $brightGray;
}

.landing, .case, .testimonials, .dual-text, .text-images {
  .case-label{
    font-size: 1em;
    color: #fff;
    background-color: #763522;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
  }
  .row.contact-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .main {
    margin-right: 40px;
    .icon {
      height: 84px;
      width: 84px;
    }
    h1, h2, h3 {
      @extend .sectionHeading;
      padding-bottom: 24px;
      text-transform: none;
      margin-top: 20px;
    }
    p {
      @extend .introText;
    }
    ul {
      margin-top: 32px;
    }
    li p {
      @extend .paragraphText;
    }
  }
  .adv, .text {
    margin-top: 50px;
    &:nth-of-type(1) { // first advantage
      margin-top: 28px;
    }
    h1, h2, h3 {
      padding-bottom: 10px;
      text-transform: none;
      @extend .textSubHeading;
    }
    p {
      @extend .metaText;
      line-height: 28px;
    }
    .more {
      color: $brand-primary; // symfony blue
      cursor: pointer;
      display: inline-block;
      float: right;
    }
  }
  .testimonial {
    // @include clearfix;
    background-color: #f8f8f8;
    color: #666;
    margin-top: 50px;
    margin-right: 40px;
    padding: 32px 40px;
    p {
      @extend .metaText;
    }
    cite {
      float: right;
    }
  }
  div.img {
    margin-bottom: 40px;
  }
}

.blog-item {

  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 246px;
  // overflow: hidden; //should be visible because of label
  margin-bottom: 30px;
  border: 1px solid #eee;
  padding: 15px;
  #blog-items & { // in blog article overview
    h3{
      margin: 10px 0 0 0;
    }
  }

  img {
    margin-bottom: 6px;
    width: 100%;
  }

  .previmg {
    position: relative;

    .infobar {
      background-color: rgba(0,0,0,.5);
      color: #fff !important;
      height: 30px;
      padding: 6px;
      position: absolute;
      bottom: 0;
      width: 100%;

      a, .tags, .tags .fa, h3 {
        color: #fff !important;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .tags {
    float: left;
    @extend .metaSubText;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 360px;
    @media (max-width: 600px) {
      width: 200px;
    }
    #post-content & {
      width: 200px;
    }
    .fa {
      font-size: 15px;
      color: $brand-primary;
      margin-right: 2px;
    }
  }

  .nerd {
    float: right;
    font-size: 0;
  }

  h3 {
    text-transform: none;
    @extend .textSubHeading;
    font-weight: bold;
    margin: 0;
    padding: 6px 0;
  }

  p {
    margin: 12px 0;
  }

  .excerpt {
    min-height: 6em;

    #post-content & {
      display: none;
    }
  }
}
.label-blog-type{
    font-size: 12px;
    display: inline-block;
    top: -6px;
    line-height: 1;
    vertical-align: baseline;
    background-image: none;
    padding: .5833em .833em;
    text-transform: none;
    font-weight: 500;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
    position: relative;
    margin: 0;
    margin-right: -1.2em;
    padding-left: 15px;
    padding-right: 1.2em;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-radius: 0 .28571429rem .28571429rem 0;
    left: -30px;
    color: #fff;


    &.label-technology{
      background-color: $brand-primary;
      border-color: darken($brand-primary, .95%);
    }
    &.label-business{
      background-color: $brand-primary;
      border-color: darken($brand-primary, .95%);
    }
    &:after{
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      background-color: transparent;
      border-style: solid;
      border-width: 0 1.2em 1.2em 0;
      border-color: transparent;
      border-right-color: inherit;
      width: 0;
      height: 0;
    }
}

footer {
    color: white;
    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    .footer-logos {
        background-color: $lightGray;
        padding: 40px 0;
        a {
            display: inline-block;
            margin: 20px;
            height: 60px;
            max-width: 100%;
            img {
                display: inline-block;
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
                filter: gray; /* IE6-9 */
                -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
                -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
                transition: all 0.5s ease 0s;
                -moz-transition: all .6s ease;
                -ms-transition: all .6s ease;
                max-width: 100%;
                &:hover {
                    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
                    -webkit-filter: grayscale(0%);
                }
            }
        }
    }
    .footer-above {
        padding: 40px 0;
        background-color: $brand-primary;
    }
    .footer-below {
        padding: 40px 0;
        background-color: darken($brand-primary, 5%);
    }
}


.portfolio-modal {
    z-index: 2000 !important;
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 100px 0;
        .item-details {
            list-style-type: none;
            padding-left: 0;
            li {
                @extend .metaText;
                span {
                    text-transform: lowercase;
                    @extend .metaText;
                }
            }
        }
        .item-details.tags {
            position: relative;
            margin: 20px 0 40px;
            @extend .metaText;
            text-transform: lowercase;
            .fa {
                font-size: 15px;
                color: $brand-primary;
                margin-right: 2px;
            }
        }
        .case {
            @extend .metaText;
            strong {
                text-transform: none;
                @extend .metaText;
            }
            .separator {
                @extend .metaSubText;
                margin: 0 6px 0 12px;
            }
            a .fa {
                font-size: 12px !important;
            }
        }
        .screen {
            border: 1px solid $lightGray;
            padding: 8px;
            margin: 30px 0;
            text-align: center;
            img {
                max-width: 100%;
            }
            &.noborders {
              border: none;
              padding: 16px 0;
            }
        }
    }
    .close-modal {
        position: fixed;
        width:52px;
        height:52px;
        background-color: rgba(255, 255, 255, 0.8);
        //border: 1px solid #eee;
        //top: 25px;
        //right: 25px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 100%;
        top: 10px;
        right: 5px;
        @media (min-width:960px) {
          top: 20px;
          right: 15px;
        }
        &:hover {
            opacity: 0.3;
        }
        .lr {
            //height:75px;

            height:50px;
            width:1px;
            //margin-left:37px;
            margin-left:25px;
            background-color:#000000;

            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                //height:75px;
                height:50px;
                width:1px;
                margin-top:1px;
                margin-left: -1px;
                background-color:#000000;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }
        }
    }
}

.modal-body {
    background-color: white;
    h3 {
        text-align: left;
        margin: 60px 0 20px;
    }
    p {
        margin: 20px 0 40px;
        text-align: left;
        text-style: justify;
    }
}

.cta {
  &.lightweight {
    padding-top: 0;
  }
}

.images {

  .img {
    display: block;
  }

  img {
    width: 100%;
  }
}
