// Colors
$brand-accent:        #FFD400; // luminous vivid gold
$brand-primary:       #00A17B; // strong turquoise
$gray:                #8E8D96; // persian bluish gray
$lightGray:           #EDEDF2; // light bluish gray
$brightGray:          #F7F7FC; // bright bluish gray
$white:               #FFFFFF; // white

// Font defaults
$baseFont:            "Poppins, sans-serif";
$hugeFont:            60px;
$massiveFont:         40px;
$largeFont:           24px;
$mediumFont:          20px;
$smallFont:           16px;
$tinyFont:            12px;

// Headings
$largeHeading:        $hugeFont;
$mediumHeading:       $massiveFont;
$smallHeading:        $largeFont;
$tinyHeading:         $mediumFont;

// Texts
$largeText:           $largeFont;
$mediumText:          $mediumFont;
$smallText:           $smallFont;
$tinyText:            $tinyFont;

// Responsive
$mobileMultiplier:    0.85;

// Bootstrap
$brand-primary:       $brand-primary;
$brand-primary:       $brand-primary;
$brand-accent:        $brand-accent;
$brand-dark-success:  darken($brand-primary, 95%);
$gray-lighter:        lighten(#000, 93.5%);
$fa-font-path:        "/assets/fonts";
