---
layout: default
title: Proces
description: Lorem ipsum.
permalink: proces/
---

<div class="master process">

  {% include navbar.html %}

  <header class="process">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="intro-desc">
            <span class="icon-process"></span>
            <h1>Realistisch ontwikkelen</h1>
            <hr class="separator">
              <p>Een solide development proces is essentieel om tot een goed eindproduct te komen.</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <p>Ieder project is anders, maar het doel is steeds hetzelfde: <strong>een app bouwen die de verwachtingen waarmaakt</strong>. Om dit doel te bereiken doorlopen we een bewezen developmentproces. Dit proces bevat alle stappen tussen de eerste kennismaking en discovery tot en met de uiteindelijke oplevering en nazorg.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="examples">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>
            <span class="icon-draw"></span>
            <span class="type">Drawing apps</span>
            <span class="example">
              zoals
              <a href="#">
                Tekenjetuin
                  <span class="fa fa-chevron-right"></span>
              </a>
            </span>
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p>
            <span class="icon-flow"></span>
            <span class="type">Workflow apps</span>
            <span class="example">
              zoals
              <a href="#">
                Turas
                  <span class="fa fa-chevron-right"></span>
              </a>
            </span>
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <p>
            <span class="icon-chart"></span>
            <span class="type">Visualisation apps</span>
            <span class="example">
              zoals
              <a href="#">
                Beleidsmonitor
                  <span class="fa fa-chevron-right"></span>
              </a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="explanatory">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <p><strong>Het proces</strong> dat we doorlopen is een combinatie van de bekende best practices binnen softwaredevelopment en onze eigen jarenlange ervaring. Omdat geen enkel maatwerkproject hetzelfde is, verschilt de focus per project. Hierbij zijn ook de mate waarin de opdrachtgever al voorwerk heeft gedaan en de helderheid van het concept belangrijke factoren. Idealiter zijn dit de fases die we doorlopen:</p>
        </div>
      </div>
    </div>
  </section>

  <section id="phases">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="http://placehold.it/500x500" alt="Fase: Discovery">
                <div class="carousel-caption">
                  <h3>1/5 Discovery</h3>
                  <p>Wie is de klant? Wat is het probleem dat moet worden opgelost? Wie zijn de toekomstige gebruikers? We stellen vragen en vragen door. Het is essentieel dat we jouw doelen goed kennen.</p>
                </div>
              </div>
              <div class="item">
                <img src="http://placehold.it/500x500" alt="Fase: Discovery">
                <div class="carousel-caption">
                  <h3>2/5 Discovery</h3>
                  <p>Wie is de klant? Wat is het probleem dat moet worden opgelost? Wie zijn de toekomstige gebruikers? We stellen vragen en vragen door. Het is essentieel dat we jouw doelen goed kennen.</p>
                </div>
              </div>
              <div class="item">
                <img src="http://placehold.it/500x500" alt="Fase: Discovery">
                <div class="carousel-caption">
                  <h3>3/5 Discovery</h3>
                  <p>Wie is de klant? Wat is het probleem dat moet worden opgelost? Wie zijn de toekomstige gebruikers? We stellen vragen en vragen door. Het is essentieel dat we jouw doelen goed kennen.</p>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="fa fa-chevron-circle-left" aria-hidden="true"></span>
              <span class="sr-only">Vorige</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
              <span class="sr-only">Volgende</span>
            </a>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="info">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="main" name="main">
            <h2>Transparantie als kernwaarde</h2>
            <p>We geloven in het oplossen van specifieke online / web vraagstukken met maatwerk oplossingen. Maatwerk dat perfect aansluit bij de wensen van de klant en de eindgebruikers en dat zorgt voor een prettige, gefocuste gebruikerservaring. Door eigen ervaring en doordat we de ontwikkelingen en best practices binnen software development op de voet volgen, hebben we een gedegen proces ontwikkeld om tot de beste resultaten te komen.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="extra">
            <p>We geloven in het oplossen van specifieke online / web vraagstukken met maatwerk oplossingen. Maatwerk dat perfect aansluit bij de wensen van de klant en de eindgebruikers en dat zorgt voor een prettige, gefocuste gebruikerservaring. Door eigen ervaring en doordat we de ontwikkelingen en best practices binnen software development op de voet volgen, hebben we een gedegen proces ontwikkeld om tot de beste resultaten te komen.</p>
          </div>
          <div class="extra">
            <p>We geloven in het oplossen van specifieke online / web vraagstukken met maatwerk oplossingen. Maatwerk dat perfect aansluit bij de wensen van de klant en de eindgebruikers en dat zorgt voor een prettige, gefocuste gebruikerservaring. Door eigen ervaring en doordat we de ontwikkelingen en best practices binnen software development op de voet volgen, hebben we een gedegen proces ontwikkeld om tot de beste resultaten te komen.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

{% include footer.html %}
