---
permalink: "/"
layout: default
title: tweede golf - webbureau nijmegen
homepage: true
description: Webbureau Tweede golf bouwt state-of-the-art web apps en webapplicaties. Ons solide development proces gecombineerd met het open source framework Symfony zorgen voor een perfecte basis voor elke toepassing.
---

{% include sections/navbar.html %}

<!-- Landing -->
<header class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-lg-12 col-lg-offset-0">
        <img class="logo img-responsive" src="/assets/img/logo.png" alt="">
        <div class="intro-text">
          <span class="name">
            <img class="img-responsive" src="/assets/img/tg.png" alt="{{ site.name }}">
          </span>
          <hr class="separator">
          <span class="skills">serious web development</span>
        </div>
      </div>
    </div>
  </div>
  <a class="scroller" href="/#portfolio">Scroll verder</a>
</header>

<!-- Portfolio -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Portfolio</h2>
          <hr class="star-primary">
        </div>
      </div>
    </div>
    <div class="row">
    {% assign items = site.portfolio | where: 'homepage', true | sort: 'home-order' %}
    {% for item in items %}
      <div class="col-sm-4 portfolio-item">
        <a
          href="#portfolio-{{ item.title|downcase|replace:' ','-' }}"
          class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content"></div>
          </div>
          <img
          src="/assets/img/portfolio/thumbs/{{ item.thumb }}"
          class="img-responsive" alt="{{ item.title }}" />
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
</section>

<!-- Portfolio Modals -->
{% for item in site.portfolio| where: 'portfolio', true | sort: 'port-order' %}
<div class="portfolio-modal modal fade"
  id="portfolio-{{ item.title|downcase|replace:' ','-' }}"
  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal" onclick="stopVideos()">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="modal-body">
            <div class="section-heading">
              <h2>{{ item.title }}</h2>
              <hr class="star-success">
            </div>
            <ul class="item-details">
              {% if item.date %}
              <li>
                <span>Datum: </span>
                <strong>{{ item.date | date: '%Y'}}</strong>
              </li>
              {% endif %}
              {% if item.client %}
              <li>
                <span>Klant: </span>
                <strong>{{ item.client }}</strong>
              </li>
              {% endif %}
              {% if item.partner %}
              <li>
                <span>Partner: </span>
                <strong>{{ item.partner }}</strong>
                {% if item.partnerurl %}
                  <a href="{{ item.partnerurl }}">
                    <span class="fa fa-external-link"></span>
                  </a>
                {% endif %}
              </li>
              {% endif %}
            </ul>
            {% if item.tags %}
            <div class="item-details tags">
              <span class="fa fa-tags"></span>
              <strong>{{ item.tags }}</strong>
              {% if item.case %}
              <span class="case">
                <span class="separator"> | </span>
                <span class="fa fa-paperclip"></span>
                Case: <strong>Interesse opwekkende titel</strong>
                {% if item.caseurl %}
                  <a
                    href="{{ item.caseurl }}"
                    target="_blank">
                    <span class="fa fa-external-link"></span>
                  </a>
                {% endif %}
              </span>
              {% endif %}
            </div>
            {% endif %}
            {{ item.output }}
            {% if item.vimeo %}
              <iframe
                src="//player.vimeo.com/video/{{ item.vimeo }}?portrait=0&title=0&badge=0&byline=0"
                width="100%" height="400" frameborder="0">
              </iframe>
            {% endif %}
            {% if item.youtube %}
              <iframe
                src="<iframe width="420" height="315" src="//www.youtube.com/embed/{{ item.youtube }}" frameborder="0"></iframe>"
                width="100%" height="400" frameborder="0">
              </iframe>
            {% endif %}
            {% assign screens = item.screens | split: "," %}
            {% for screen in screens %}
              <div
                class="screen {% if item.noborders %}noborders{% endif %}"
                id="screen-{{ screen|downcase|replace:' ','-' }}">
                <img class="lazy"
                  data-original="/assets/img/portfolio/{{ screen}}"
                  class="img-responsive img-centered"
                  alt="{{ item.title }} screenshot 1">
              </div>
            {% endfor %}
            {% if item.website %}
            <a
              href="{{ item.website }}"
              class="btn btn-primary"
              target="_blank">
              <span class="fa fa-external-link"></span>
              Ga naar {{ item.title }}
            </a>
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="fa fa-times"></span>
              Sluiten
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- About -->
<div id="over-ons">
  <section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Over ons</h2>
            <hr class="star-primary">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <p>
            Tweede golf bouwt *state of the art* web apps, educatieve games en
            cloudapplicaties volgens ons <a href="/proces">solide development
            proces</a> en met het open source framework
            <a href="/symfony">Symfony</a>. We zijn altijd op zoek naar nieuwe
            uitdagende projecten.
          </p>
          <p>
            Plannen of ideeën? Neem contact met ons op.
          </p>
        </div>
      </div>
      <div class="row cubes">
        <div class="col-sm-6 col-md-4 cube">
          <img src="/assets/img/about/pand.jpg">
        </div>
      <div class="col-sm-6 col-md-4 cube">
        <span class="number"><span class="large">42</span></span>
        <p>research prototypes</p>
        <a class="btn btn-lg btn-primary" href="/blog/">Meer research...</a>
      </div>
      <div class="col-sm-6 col-md-4 cube">
        <img src="/assets/img/about/pointcloud.jpg">
      </div>
      <div class="col-sm-6 col-md-4 cube">
        <span class="number"><span class="millisec">221742923224</span></span>
        <p>milliseconden sinds oprichting</p>
      </div>
      <div class="col-sm-6 col-md-4 cube">
        <img src="/assets/img/about/oculus.jpg">
      </div>
      <div class="col-sm-6 col-md-4 cube">
        <span class="number">10000+</span>
        <p>regels code per maand</p>
        </div>
      </div>
    </div>
  </section>
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Team</h2>
            <hr class="star-primary">
          </div>
        </div>
      </div>
      <div class="row members">
        {% for member in site.data.members %}
        {% if member.employed == true %}
          <div class="col-sm-6 col-md-4">
            <div class="member-card">
              <a href="#" class="member-image {{ member.name }}"></a>
              <span class="name">{{ member.name }}</span>
              <span class="job">{{ member.job }}</span>
              <span class="email">{{ member.email }}</span>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>

{% include sections/contact.html %}

{% include sections/footer.html %}

<!-- Scroll to top on narrow devices -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
