---
permalink: "/symfony/"
layout: symfony_landing
title: Symfony Development
description: Wij ontwikkelen state-of-the-art web apps met het PHP-framework Symfony. Inhouse development en detachering mogelijk.
permalink: symfony/
contact: Marlon
contact_ok_link: //tweedegolf.nl/symfony/#contact-ok
about: Symfony development bij tweede golf
---

<section id="landing" class="landing">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="main" name="main">
          {% capture main %}{% include /texts/symfony/development/main.md %}{% endcapture %}
          {{ main|markdownify }}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="adv">
          <span class="icon award"></span>
          <div class="truncate-2-lines">
            {% capture adv1 %}{% include /texts/symfony/development/advantage_1.md %}{% endcapture %}
      		  {{ adv1|markdownify }}
          </div>
        </div>
        <div class="adv">
          <span class="icon gear"></span>
          <div class="truncate-2-lines">
            {% capture adv2 %}{% include /texts/symfony/development/advantage_2.md %}{% endcapture %}
      		  {{ adv2|markdownify }}
          </div>
        </div>
        <div class="adv">
          <span class="icon love"></span>
          <div class="truncate-2-lines">
            {% capture adv3 %}{% include /texts/symfony/development/advantage_3.md %}{% endcapture %}
            {{ adv3|markdownify }}
          </div>
        </div>
      </div>
    </div>

    <div class="row contact-wrapper">
      <div class="col-sm-12">
        <div class="page-scroll">
          <a type="button" class="btn btn-lg btn-success" href="#contact">Neem contact op <i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="main" name="main">
          {% capture main %}{% include /texts/symfony/in_house/main.md %}{% endcapture %}
          {{ main|markdownify }}
        </div>
      </div>

      <div class="col-sm-6">
        <div class="adv">
          <div class="truncate-2-lines">
            <span class="icon team"></span>
              {% capture main %}{% include /texts/symfony/in_house/advantage_1.md %}{% endcapture %}
              {{ main|markdownify }}
          </div>
        </div>
        <div class="adv">
          <div class="truncate-2-lines">
            <span class="icon money"></span>
              {% capture main %}{% include /texts/symfony/in_house/advantage_2.md %}{% endcapture %}
              {{ main|markdownify }}
          </div>
        </div>
        <div class="adv">
          <div class="truncate-2-lines">
            <span class="icon info"></span>
              {% capture main %}{% include /texts/symfony/in_house/advantage_3.md %}{% endcapture %}
              {{ main|markdownify }}
          </div>
        </div>
      </div>
    </div>

    <div class="row contact-wrapper">
      <div class="col-sm-12">
        <div class="page-scroll">
          <a type="button" class="btn btn-lg btn-success" href="#contact">Neem contact op <i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <blockquote class="testimonial">
          <span class="icon quote"></span>
          {% capture testimonial %}{% include /texts/symfony/testimonial.md %}{% endcapture %}
          {{ testimonial|markdownify }}
        </blockquote>
        </div>
      </div>
    </div>
</section>
