---
permalink: "/proces/"
layout: landing
pageclass: process
image: /assets/img/icon-process.png
title: Serious web development
intro: "Een solide development proces is essentieel voor een succesvol eindproduct."
contact: Erik
about: Proces
contact_ok_link: //tweedegolf.nl/proces/#contact-ok

dual-text1:
  class: process
  lead: /texts/proces/intro.md
  text1:
    icon: /assets/img/icon-draw.png
    title: Drawing apps
    text: "Web apps die 2D- en 3D-tekentechnologieën gebruiken zoals <a href='/#portfolio-tekenjetuin' data-toggle='modal'>Tekenjetuin</a>"
  text2:
    icon: /assets/img/icon-flow.png
    title: Workflow apps
    text: "Web apps die je workflow structureren en optimaliseren zoals <a href='/#portfolio-askja' data-toggle='modal'>Askja productbeheer</a>"
  text3:
    icon: /assets/img/icon-chart.png
    title: Visualisation apps
    text: "Web apps die data tot leven brengen, zoals <a href='/#portfolio-online-beleidsmonitor' data-toggle='modal'>Online beleidsmonitor</a>"

quote1:
  class: dark-bg
  text: "Tweede golf is al ruim vijf jaar onze technische partner waarmee we ons backoffice systeem en de sites voor Askja en VNC hebben ontwikkeld. De grondige inventarisatie die we bij de start uitvoerden was een eye-opener en was cruciaal voor het succes van het project."
  author: "– **Sander van Opstal**, directeur Askja Reizen & VNC Asia Travel"

dual-text2:
  lead: /texts/proces/mv-product/intro.md
  text1:
    title: Lean softwaredevelopment
    text: "Streven naar een minimum viable product past in het veel bredere **lean softwaredevelopment**, dat we een warm hart toedragen. Bekijk hier de principes die daaraan ten grondslag liggen."
  text2:
    title: Betere investeringsbeslissingen
    text: "Door zo snel mogelijk een minimum viable product “in het wild los te laten”, krijg je direct inzicht in welke features het meest gebruikt worden. Dit helpt bij het **beslissen over investeringen** in de software."
  text3:
    title: Korte time to market
    text: "Starten met een minimum viable product resulteert in een zo kort mogelijke **time to market**. En snelheid is essentieel voor succes op het web."

dual-text3:
  class: dark-bg
  lead: /texts/proces/rapid-prototyping/intro.md
  text1:
    title: Beter risico’s inschatten
    text: "Rapid prototyping helpt bij het **inschatting van risico’s**. Verwachten we bijvoorbeeld dat hardware performance een rol gaat spelen later in het project? Een helder beeld van de risico’s voorkomt verrassingen."
  text2:
    title: Focus
    text: "Het hebben van een prototype **vereenvoudigt de uitwisseling van ideeën** over het te bouwen eindproduct. Het wordt met een prototype sneller duidelijk wat precies het doel is en hoe daar te komen. De kans op misverstanden over de requirements is met een prototype minimaal."
  text3:
    title: Rendement
    text: "Het bouwen van een prototype is de **investering meer dan waard**. Je project maakt een kick-start, het formuleren van requirements wordt veel makkelijker en de focus is direct duidelijk."

dual-text4:
  lead: /texts/proces/billing/intro.md
  text1:
    title: Duidelijke afspraken
    text: "Iedere opdracht leggen we vast in een offerte met een heldere begroting. We bieden een opdracht **fixed price** aan waar het kan. Fixed requirements, fixed price en fixed results zijn echter niet zaligmakend. Een zorgvuldige **discovery fase** en een agile aanpak zorgen vaak voor het beste, meest kosten-effectieve resultaat. We identificeren vooraf budgettaire risico’s en benoemen verschillende opties. Pas als de offerte helder is en akkoord, gaan we van start."
  text2:
    title: Altijd op de hoogte
    text: "Tijdens een project houdt de project lead je persoonlijk op de hoogte van de voortgang. Hij is je centrale inhoudelijke aanspreekpunt en bewaker van planning én budget."
  text3:
    title: Rendement
    text: "Ons standaard uurtarief bedraagt €85,- excl. btw. Facturering geschiedt maandelijks voor verrichte werkzaamheden."
---

{% include sections/dual-text.html
  dual-text=page.dual-text1
%}

<section class="explanatory">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        {% capture proces %}{% include /texts/proces/proces.md %}{% endcapture %}
        {{ proces|markdownify }}
      </div>
    </div>
  </div>
</section>

<section class="phases">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="carousel-phases" class="carousel slide" data-interval="false">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-phases" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-phases" data-slide-to="1"></li>
            <li data-target="#carousel-phases" data-slide-to="2"></li>
            <li data-target="#carousel-phases" data-slide-to="3"></li>
            <li data-target="#carousel-phases" data-slide-to="4"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="carousel-visual">
                <span class="phase">1/5</span>
                <span class="icon discovery"></span>
              </div>
              <div class="carousel-caption">
                {% capture step_1 %}{% include /texts/proces/step_1.md %}{% endcapture %}
                {{ step_1|markdownify }}
              </div>
            </div>
            <div class="item">
              <div class="carousel-visual">
                <span class="phase">2/5</span>
                <span class="icon design"></span>
              </div>
              <div class="carousel-caption">
                {% capture step_2 %}{% include /texts/proces/step_2.md %}{% endcapture %}
                {{ step_2|markdownify }}
              </div>
            </div>
            <div class="item">
              <div class="carousel-visual">
                <span class="phase">3/5</span>
                <span class="icon development"></span>
              </div>
              <div class="carousel-caption">
                {% capture step_3 %}{% include /texts/proces/step_3.md %}{% endcapture %}
                {{ step_3|markdownify }}
              </div>
            </div>
            <div class="item">
              <div class="carousel-visual">
                <span class="phase">4/5</span>
                <span class="icon release"></span>
              </div>
              <div class="carousel-caption">
                {% capture step_4 %}{% include /texts/proces/step_4.md %}{% endcapture %}
                {{ step_4|markdownify }}
              </div>
            </div>
            <div class="item">
              <div class="carousel-visual">
                <span class="phase">5/5</span>
                <span class="icon improvements"></span>
              </div>
              <div class="carousel-caption">
                {% capture step_5 %}{% include /texts/proces/step_5.md %}{% endcapture %}
                {{ step_5|markdownify }}
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-phases" role="button" data-slide="prev">
            <span class="previous button" aria-hidden="true"></span>
            <span class="sr-only">Vorige</span>
          </a>
          <a class="right carousel-control" href="#carousel-phases" role="button" data-slide="next">
            <span class="next button" aria-hidden="true"></span>
            <span class="sr-only">Volgende</span>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>

{% include sections/quote.html
  quote=page.quote1
%}

{% include sections/dual-text.html
  dual-text=page.dual-text2
%}

{% include sections/dual-text.html
  dual-text=page.dual-text3
%}

{% include sections/dual-text.html
  dual-text=page.dual-text4
%}
