<section class="cta {% if include.cta.class %}{{ include.cta.class }}{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="center-block">
          {% if include.cta.text %}
            <p>{{ include.cta.text|markdownify }}</p>
          {% endif %}
          {% if include.cta.button-link %}
            <a
              class="btn btn-lg btn-primary"
              href="{{ include.cta.button-link }}">
              {% if include.cta.icon %}<span class="fa fa-{{ include.cta.icon }}"></span> {% endif %}
              {{ include.cta.button-text }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
