<section class="dual-text">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <span class="icon">
          test: {{ page.swag }}<br />
          test: {{ page.arraytest.title }}<br />
          test dot: {{ include.includetest.title }}<br />
          test bracket: {{ include[includetest].title }}<br />
          include: {{ include }}
        </span>
        <h2>{{ include.dual-text.title }}</h2>
        {{ include.dual-text.lead }}
      </div>
      <div class="col-sm-6">
        <div class="text1">
          <span class="icon">

          </span>
          {{ include.dual-text.text1 }}
        </div>
        <div class="text2">
          <span class="icon">

          </span>
          {{ include.dual-text.text2 }}
        </div>
        <div class="text3">
          <span class="icon">

          </span>
          {{ include.dual-text.text3 }}
        </div>
      </div>
    </div>
  </div>
</section>
