<section class="dual-text {% if include.dual-text.class %}{{ include.dual-text.class }}{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div class="main">
          {% if include.dual-text.icon %}
            <span class="icon">
              <img src="{{ include.dual-text.icon }}" alt="icon" />
            </span>
          {% endif %}
          {% if include.dual-text.subtitle %}
            {{ include.dual-text.subtitle|markdownify }}
          {% endif %}
          {% capture lead %}
            {% include {{ include.dual-text.lead }} %}
          {% endcapture %}
          {{ lead|markdownify }}
        </div>
      </div>

      <div class="col-sm-6">
        {% if include.dual-text.text1 %}
          <div class="text">
            <span class="icon">
              <img src="{{ include.dual-text.text1.icon }}" alt="icon" />
            </span>
            <h3>{{ include.dual-text.text1.title }}</h3>
            <p>{{ include.dual-text.text1.text|markdownify }}</p>
          </div>
        {% endif %}
        {% if include.dual-text.text2 %}
          <div class="text">
            <span class="icon">
              <img src="{{ include.dual-text.text2.icon }}" alt="icon" />
            </span>
            <h3>{{ include.dual-text.text2.title }}</h3>
            <p>{{ include.dual-text.text2.text|markdownify }}</p>
          </div>
        {% endif %}
        {% if include.dual-text.text3 %}
          <div class="text">
            <span class="icon">
              <img src="{{ include.dual-text.text3.icon }}" alt="icon" />
            </span>
            <h3>{{ include.dual-text.text3.title }}</h3>
            <p>{{ include.dual-text.text3.text|markdownify }}</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
