<footer>
  <div class="footer-logos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="small section-heading">
            <h4>Opdrachtgevers</h4>
            <hr class="star-primary">
          </div>
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <a href="http://askja.nl/" target="_blank"><img src="/assets/img/clients/askja-vnc.png" alt="Askja en VNC" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="https://www.vvaa.nl/" target="_blank"><img src="/assets/img/clients/vvaa.png" alt="VvAA" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="http://nijmegen.nl/" target="_blank"><img src="/assets/img/clients/gemeente-nijmegen.png" alt="Gemeente Nijmegen" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="http://www.rivm.nl/" target="_blank"><img src="/assets/img/clients/rivm.png" alt="RIVM" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="http://han.nl/" target="_blank"><img src="/assets/img/clients/han.png" alt="Hogeschool van Arnhem en Nijmegen" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="http://rvo.nl/" target="_blank"><img src="/assets/img/clients/rvo.png" alt="Rijksdienst voor Ondernemend Nederland" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="http://tekenjetuin.nl/" target="_blank"><img src="/assets/img/clients/tekenjetuin.png" alt="Tekenjetuin" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="http://radboudumc.nl/" target="_blank"><img src="/assets/img/clients/radboudumc.png" alt="Radboud UMC" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Adres</h3>
          <p class="small">
            <a href="https://www.google.com/maps/place/tweede+golf+bv/@51.822895,5.869926,17z/data=!3m1!4b1!4m2!3m1!1s0x47c708fbab5e926d:0xaf8fddaed8fb8cc1">
              <span class="fa fa-map-marker"></span>
              Castellastraat 26<br>
              6512 EX Nijmegen
            </a>
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Contact</h3>
          <p class="small">
            <span class="phone">
              <span class="fa fa-phone"></span>
              024 - 3010 484
            </span><br>
            <a href="mailto:info@tweedegolf.nl" class="email">
              <span class="fa fa-envelope"></span> info@tweedegolf.nl
            </a><br>
            <a href="skype:tweedegolf.support?call" target="_blank" class="skype">
              <i class="fa fa-fw fa-skype"></i>
              tweedegolf.support
            </a>
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Expertises</h3>
          <p class="small expertises">
            <a href="/3d-framework">
              3D Framework
            </a><br>
            <a href="/symfony">
              Symfony
            </a><br>
            <a href="/g-suite">
              G Suite
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="small">
            Copyright &copy; {{ site.time | date: '%Y' }} - {{ site.name }}<br>
            KvK: {{ site.kvk }}, btw: {{ site.btw }}<br>
            IBAN: {{ site.iban }}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
