<footer>
  <div class="footer-logos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="small section-heading">
            <h4>Opdrachtgevers</h4>
            <hr class="star-primary">
          </div>
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <a href="http://askja.nl/" target="_blank"><img src="/assets/img/clients/askja-vnc.png" alt="Askja en VNC" /></a>
        <a href="https://www.vvaa.nl/" target="_blank"><img src="/assets/img/clients/vvaa.png" alt="VvAA" /></a>
        <br class="hidden-lg hidden-md">
        <a href="http://nijmegen.nl/" target="_blank"><img src="/assets/img/clients/gemeente-nijmegen.png" alt="Gemeente Nijmegen" /></a>
        <a href="http://www.rivm.nl/" target="_blank"><img src="/assets/img/clients/rivm.png" alt="RIVM" /></a>
        <br class="hidden-sm">
        <a href="http://han.nl/" target="_blank"><img src="/assets/img/clients/han.png" alt="Hogeschool van Arnhem en Nijmegen" /></a>
        <a href="http://rvo.nl/" target="_blank"><img src="/assets/img/clients/rvo.png" alt="Rijksdienst voor Ondernemend Nederland" /></a>
        <a href="http://tekenjetuin.nl/" target="_blank"><img src="/assets/img/clients/tekenjetuin.png" alt="Tekenjetuin" /></a>
        <br class="hidden-lg hidden-md">
        <a href="http://radboudumc.nl/" target="_blank"><img src="/assets/img/clients/radboudumc.png" alt="Radboud UMC" /></a>
        <!-- <a href="http://corporate.ppg.com/" target="_blank"><img src="/assets/img/clients/ppg.png" alt="PPG Industries" /></a> -->
      </div>
    </div>
  </div>
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Adres</h3>
          <p class="small">
            <a href="https://www.google.com/maps/place/tweede+golf+bv/@51.822895,5.869926,17z/data=!3m1!4b1!4m2!3m1!1s0x47c708fbab5e926d:0xaf8fddaed8fb8cc1">
              <span class="fa fa-map-marker"></span>
              St. Annastraat 113 <br>
              6524 EK Nijmegen
            </a>
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Contact</h3>
          <p class="small">
            <span class="fa fa-phone"></span>
            024 - 3010 484 <br>
            <a href="mailto:info@tweedegolf.nl">
              <span class="fa fa-envelope"></span> info@tweedegolf.nl
            </a>
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Support</h3>
          <ul class="list-inline">
            <li>
              <a href="skype:tweedegolf.support?call" target="_blank" class="btn-social btn-outline">
              <i class="fa fa-fw fa-skype"></i>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="small">Copyright &copy; {{ site.time | date: '%Y' }} - {{ site.name }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
