<section class="text-images {% if include.text-images.class %}{{ include.text-images.class }}{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div class="main">
          {% if include.text-images.icon %}
            <span class="icon">
              <img src="{{ include.text-images.icon }}" alt="icon" />
            </span>
          {% endif %}
          {% if include.text-images.subtitle %}
            {{ include.text-images.subtitle|markdownify }}
          {% endif %}
          {% capture lead %}
            {% include {{ include.text-images.lead }} %}
          {% endcapture %}
          {{ lead|markdownify }}
        </div>
      </div>

      <div class="col-sm-6">
        {% if include.text-images.img1 %}
          <div class="img">
            <img
              alt="{% if include.text-images.img1.alt %}{{ include.text-images.img1.alt }}{% endif %}"
              src="{{ include.text-images.img1.src }}"
            />
            {% if include.text-images.img1.description %}
              <div class="description">
                <p>{{ include.text-images.img1.description }}
              </div>
            {% endif %}
          </div>
        {% endif %}
        {% if include.text-images.img2 %}
          <div class="img">
            <img
              alt="{% if include.text-images.img2.alt %}{{ include.text-images.img2.alt }}{% endif %}"
              src="{{ include.text-images.img2.src }}"
            />
            {% if include.text-images.img2.description %}
              <div class="description">
                <p>{{ include.text-images.img2.description }}
              </div>
            {% endif %}
          </div>
        {% endif %}
        {% if include.text-images.img3 %}
          <div class="img">
            <img
              alt="{% if include.text-images.img3.alt %}{{ include.text-images.img3.alt }}{% endif %}"
              src="{{ include.text-images.img3.src }}"
            />
            {% if include.text-images.img3.description %}
              <div class="description">
                <p>{{ include.text-images.img3.description }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
