---
layout: landing
title: Symfony Development
description: Lorem ipsum etc etc.
permalink: symfony/
contact: marlon
---

<section id="landing">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div class="main">
          <span class="icon calendar"></span>
          {% capture main %}{% include /symfony/main.md %}{% endcapture %}
          {{ main|markdownify }}
        </div>

        <blockquote class="testimonial">
          <span class="icon quote"></span>
          {% capture testimonial %}{% include /symfony/testimonial.md %}{% endcapture %}
          {{ testimonial|markdownify }}
        </blockquote>

      </div>
      <div class="col-sm-6">

        <div class="adv">
          <span class="icon award"></span>
          {% capture adv1 %}{% include /symfony/advantage_1.md %}{% endcapture %}
    		  {{ adv1|markdownify }}
        </div>

        <div class="adv">
          <span class="icon gear"></span>
          {% capture adv2 %}{% include /symfony/advantage_2.md %}{% endcapture %}
    		  {{ adv2|markdownify }}
        </div>

        <div class="adv">
          <span class="icon love"></span>
          {% capture adv3 %}{% include /symfony/advantage_3.md %}{% endcapture %}
          {{ adv3|markdownify }}
        </div>

      </div>
    </div>
  </div>
</section>
