---
layout: symfony_landing
title: Symfony Development
description: Wij ontwikkelen state-of-the-art web apps met het PHP-framework Symfony.
permalink: symfony/
contact: Marlon
about: Symfony development bij tweede golf
---

<section id="landing" class="landing">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="main" name="main">
          {% capture main %}{% include /symfony/main.md %}{% endcapture %}
          {{ main|markdownify }}
        </div>
        <!-- <blockquote class="testimonial">
          <span class="icon quote"></span>
          {% capture testimonial %}{% include /symfony/testimonial.md %}{% endcapture %}
          {{ testimonial|markdownify }}
        </blockquote> -->
      </div>
      <div class="col-sm-6">
        <div class="adv">
          <span class="icon award"></span>
          <div class="truncate-2-lines">
            {% capture adv1 %}{% include /symfony/advantage_1.md %}{% endcapture %}
      		  {{ adv1|markdownify }}
          </div>
        </div>
        <div class="adv">
          <span class="icon gear"></span>
          <div class="truncate-2-lines">
            {% capture adv2 %}{% include /symfony/advantage_2.md %}{% endcapture %}
      		  {{ adv2|markdownify }}
          </div>
        </div>
        <div class="adv">
          <span class="icon love"></span>
          <div class="truncate-2-lines">
            {% capture adv3 %}{% include /symfony/advantage_3.md %}{% endcapture %}
            {{ adv3|markdownify }}
          </div>
        </div>
      </div>
    </div>  

    <div class="row contact-wrapper">
      <div class="col-sm-12">
        <div class="page-scroll">
          <a type="button" class="btn btn-lg btn-success" href="#contact">Neem contact op <i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="main" name="main">
          <h3>In house development</h3>
          <p>Heeft u tijdelijk ondersteuning nodig bij een complex Symfony project bij u op locatie? Dan bieden we een flexibele oplossing. Het is namelijk mogelijk om de developers die bij tweede golf werken in teams van 2 in te huren, op projectbasis.</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="adv">
          <div class="truncate-2-lines">
            <span class="icon team"></span>
            <h3>Hire a team</h3>
            <p>
              In een team zit altijd een senior developer die beschikt over diepgaande kennis van Symfony en (mede) de architectuur van grote projecten bij tweede golf heeft bepaald.

              Onze teams zijn goed op elkaar ingespeeld, gemotiveerd en in staat om dagelijks meters te maken.
            </p>  
          </div>
        </div>
        <div class="adv">  
          <div class="truncate-2-lines">
            <span class="icon money"></span>
            <h3>Investering</h3>
            <p>
              Team rates varieren van &euro;1200,- tot &euro;1400,- per dag. Afhankelijk van de samenstelling van het team en het type en de duur van de werkzaamheden. Voorafgaand aan de werkzaamheden spreken we de verwachtingen en doelen door. Tijdens de werkzaamheden evalueren we de voortgang wekelijks en schakelen snel, mochten er knelpunten ontstaan.
            </p>
          </div>
        </div>
        <div class="adv">  
          <div class="truncate-2-lines">
            <span class="icon info"></span>
            <h3>Meer informatie</h3>
            <p>
              Neem vrijblijvend contact op voor meer informatie over de beschikbaarheid, mogelijkheden en voorwaarden. Meteen geïnteresseerd? Dan nodigen we u graag uit voor een kennismakingsgesprek.               
            </p>
          </div>                          
        </div> 
      </div>  
    </div> 

    <div class="row contact-wrapper">
      <div class="col-sm-12">
        <div class="page-scroll">
          <a type="button" class="btn btn-lg btn-success" href="#contact">Neem contact op <i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
