---
permalink: /symfony/
layout: landing
pageclass: symfony
image: /assets/img/symfony-logo.png
title: Symfony
intro: "Wij ontwikkelen **state of the art** web apps met het PHP-framework Symfony."
contact: Marlon
about: Symfony development bij tweede golf
contact_ok_link: //tweedegolf.nl/symfony/#contact-ok

dual-text1:
  class: dark-bg
  lead: texts/symfony/development/main.md
  text1:
    icon: /assets/img/icon-award.png
    title: Best practices, best results
    text: "Voorop lopen is de norm. We volgen [de best practices](http://symfony.com/doc/current/best_practices/index.html) waar de Symfony community voor staat en zijn daarbij niet bang om onze werkwijze steeds aan te passen. De best practices vormen een belangrijk onderdeel van [ons development proces](https://tweedegolf.nl/proces) en zorgen ervoor dat we het maximale uit elk project halen."
  text2:
    icon: /assets/img/icon-gear.png
    title: Maximale focus op business logic
    text: "Door het gebruik van Symfony kunnen we ons maximaal richten op de specifieke **business logic** waar het project om vraagt. Symfony’s standaard componenten, gecombineerd met onze tool set, zorgen voor een solide basis voor elk project. Onze developers kunnen zich focussen op wat de kern is en verliezen geen tijd aan repetitieve taken."
  text3:
    icon: /assets/img/icon-love.png
    title: World class support
    text: "Het Franse [SensioLabs](https://sensiolabs.com/) en een wereldwijde community werken dagelijks aan Symfony. Symfony’s release cycle is volwassen en bevat **long term support versions**, waardoor we jarenlang ondersteuning kunnen bieden voor de apps die we ontwikkelen. We dragen actief bij aan Symfony, door zogenaamde **bundles** die we intern ontwikkeld hebben met anderen te delen op [GitHub](https://github.com/tweedegolf)."

call-to-action1:
  class: lightweight dark-bg
  button-link: "#contact"
  button-text: Neem contact op

dual-text2:
  lead: texts/symfony/in_house/main.md
  text1:
    icon: /assets/img/icon-team.png
    title: Hire a team
    text: "In een team zit altijd een senior developer die beschikt over diepgaande kennis van Symfony en (mede) de architectuur van grote projecten bij tweede golf heeft bepaald. Onze teams zijn goed op elkaar ingespeeld, gemotiveerd en in staat om dagelijks meters te maken."
  text2:
    icon: /assets/img/icon-money.png
    title: Investering
    text: "Team rates varieren van €1200,- tot €1400,- per dag. Afhankelijk van de samenstelling van het team en het type en de duur van de werkzaamheden. Voorafgaand aan de werkzaamheden spreken we de verwachtingen en doelen door. Tijdens de werkzaamheden evalueren we de voortgang wekelijks en schakelen we snel, mochten er knelpunten ontstaan."
  text3:
    icon: /assets/img/icon-info.png
    title: Meer informatie
    text: "Neem vrijblijvend contact op voor meer informatie over de beschikbaarheid, mogelijkheden en voorwaarden. Meteen geïnteresseerd? Dan nodigen we u graag uit voor een kennismakingsgesprek."

call-to-action2:
  class: lightweight
  button-link: "#contact"
  button-text: Neem contact op

quote1:
  text: "We hebben een team van tweede golf gedurende anderhalve maand ingehuurd om gelijktijdig met een aantal nieuwe producten onze nieuwe site [planviewer.nl](http://planviewer.nl) te kunnen lanceren. Hun technische knowhow heeft enorm geholpen om de ontwikkeling in een rap tempo te realiseren. We kijken tevreden terug op de samenwerking en zijn blij dat ons vastgoedportaal de nieuwe look heeft gekregen en dat hij staat zoals wij ook voor ogen hadden toen wij het project gingen starten."
  author: "– **Wiebe Tamminga**, senior accountmanager Planviewer"
---

{% include sections/dual-text.html
  dual-text=page.dual-text1
%}

{% include sections/call-to-action.html
  cta=page.call-to-action1
%}

{% include sections/dual-text.html
  dual-text=page.dual-text2
%}

{% include sections/call-to-action.html
  cta=page.call-to-action2
%}

{% include sections/quote.html
  quote=page.quote1
%}
