---
permalink: /symfony/
layout: landing
pageclass: symfony
image: /assets/img/symfony-logo.png
title: Symfony
intro: "Wij ontwikkelen **state of the art** web apps met het PHP-framework Symfony."
contact: Marlon
about: Symfony development bij tweede golf
contact_ok_link: //tweedegolf.nl/symfony/#contact-ok

dual-text1:
  lead: texts/symfony/development/main.md
  text1:
    icon: /assets/img/icon-award.png
    title: Best practices, best results
    text: "Voorop lopen is de norm. We volgen [de best practices](http://symfony.com/doc/current/best_practices/index.html) waar de Symfony community voor staat en zijn daarbij niet bang om onze werkwijze steeds aan te passen. De best practices vormen een belangrijk onderdeel van [ons development proces](https://tweedegolf.nl/proces) en zorgen ervoor dat we het maximale uit elk project halen."
  text2:
    icon: /assets/img/icon-gear.png
    title: Maximale focus op business logic
    text: "Door het gebruik van Symfony kunnen we ons maximaal richten op de specifieke **business logic** waar het project om vraagt. Symfony’s standaard componenten, gecombineerd met onze tool set, zorgen voor een solide basis voor elk project. Onze developers kunnen zich focussen op wat de kern is en verliezen geen tijd aan repetitieve taken."
  text3:
    icon: /assets/img/icon-love.png
    title: World class support
    text: "Het Franse [SensioLabs](https://sensiolabs.com/) en een wereldwijde community werken dagelijks aan Symfony. Symfony’s release cycle is volwassen en bevat **long term support versions**, waardoor we jarenlang ondersteuning kunnen bieden voor de apps die we ontwikkelen. We dragen actief bij aan Symfony, door zogenaamde **bundles** die we intern ontwikkeld hebben met anderen te delen op [GitHub](https://github.com/tweedegolf)."

call-to-action1:
  class: lightweight
  button-link: "#contact"
  button-text: Neem contact op

text-images1:
  class: dark-bg
  subtitle: "**Case 1:** Blok voor Blok"
  lead: texts/google-for-work/lead2.md
  img1:
    src: /assets/img/google-for-work/bvb_comment.png
    alt: "Screenshot"
    description: "Google Drive en Docs om de documenten op te slaan en te delen"
  img2:
    src: /assets/img/google-for-work/bvb_fragmenten.png
    alt: "Screenshot"
    description: "Integratie van Google Docs in een custom web app om supersnel fragmenten te taggen"
  img3:
    src: /assets/img/google-for-work/bvb_report.png
    alt: "Screenshot"
    description: "Een custom web app voor het samenstellen van rapportages op basis van voorgedefinieerde templates, met alle getagde fragmenten bij de hand"

text-images2:
  subtitle: "**Case 2:** Askja Prijsbeheer"
  lead: texts/google-for-work/lead3.md
  img1:
    src: /assets/img/google-for-work/askja_addon.png
    alt: "Screenshot"
    description: "Koppeling tussen het door ons ontwikkelde back-office systeem en Google Sheets"
  img2:
    src: /assets/img/google-for-work/askja-2016.jpg
    alt: "Screenshot"
    description: "Automatische controle en validatie van de data uit de sheets; met één druk op de knop importeren"
---

{% include sections/dual-text.html
  dual-text=page.dual-text1
%}

{% include sections/call-to-action.html
  cta=page.call-to-action1
%}

{% include sections/text-images.html
  text-images=page.text-images1
%}

{% include sections/text-images.html
  text-images=page.text-images2
%}
