<div id="over-ons">
  <section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Over ons</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
          {% capture profile %}{% include /about/profile.md %}{% endcapture %}
          {{ profile|markdownify }}
        </div>
      </div>
      <div class="row cubes">
        {% for item in site.cubes %}
          <div class="col-sm-6 col-md-4 cube">
            {% if item.image %}
              <img src="/img/about/{{ item.image }}"></img>
            {% else %}
              {% if item.number %}
                <span class="number">{{ item.number }}</span>
              {% endif %}
              {% if item.text %}
                <p>{{ item.text }}</p>
              {% endif %}
              {% if item.link %}
                <a class="btn btn-lg btn-success" href="{{ item.link }}">Meer research...</a>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section id="team">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Team</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="container">
      <div class="row members">
        {% for member in site.data.members %}
          <div class="col-sm-6 col-md-4">
            <div class="member-card">
              <a href="#" class="member-image {{ member.name }}"></a>
              <span class="name">{{ member.name }}</span>
              <span class="job">{{ member.job }}</span>
              <span class="email">{{ member.email }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
