<section class="success" id="over-ons">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Over ons</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        {% capture profile %}{% include /about/profile.md %}{% endcapture %}
        {{ profile|markdownify }}
      </div>
      <div class="col-lg-4">
        {% capture research %}{% include /about/research.md %}{% endcapture %}
        {{ research|markdownify }}
      </div>
      <div class="col-lg-4">
        {% capture history %}{% include /about/history.md %}{% endcapture %}
        {{ history|markdownify }}
      </div>
    </div>
  </div>
</section>
