<section id="contact personal">
  <a name="contact"></a>
  <a name="contact-ok"></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Sluiten</span>
          </button>
          <strong>Bedankt voor je bericht.</strong>
          We nemen snel contact met je op.
        </div>
        <form role="form" action="http://mailer.tweedegolf.com" method="POST">
        <input type="hidden" name="_next" value="http://tweedegolf.com/#contact-ok" />
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="name">Naam</label>
              <input class="form-control" type="text" name="name" placeholder="Naam">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="email">E-mailadres</label>
              <input class="form-control" type="email" name="email" placeholder="E-mailadres">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="message">Bericht</label>
              <textarea placeholder="Bericht" class="form-control" name="message" rows="5"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-lg btn-success">
                Verzenden
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
