<footer class="text-center">
  <div class="footer-logos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Opdrachtgevers</h2>
          <hr class="star-primary">
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <a href="http://laverbe.nl/" target="_blank"><img src="/img/laverbe.png" alt="LaVerbe" /></a>
        <a href="http://rvo.nl/" target="_blank"><img src="/img/rvo.png" alt="Rijksdienst voor Ondernemend Nederland" /></a>
        <br class="hidden-lg hidden-md">
        <a href="http://nijmegen.nl/" target="_blank"><img src="/img/gemeente-nijmegen.png" alt="Gemeente Nijmegen" /></a>
        <a href="http://tekenjetuin.nl/" target="_blank"><img src="/img/tekenjetuin.png" alt="Tekenjetuin" /></a>
        <br class="hidden-sm">
        <a href="http://askja.nl/" target="_blank"><img src="/img/askja-vnc.png" alt="Askja en VNC" /></a>
        <a href="http://biblioplus.nl/" target="_blank"><img src="/img/biblioplus.png" alt="Bibioplus" /></a>
        <br class="hidden-lg hidden-md">
        <a href="http://radboudumc.nl/" target="_blank"><img src="/img/radboudumc.png" alt="Radboud UMC" /></a>
        <a href="http://lesalondesfemmes.com/" target="_blank"><img src="/img/lessalondesfemmes.png" alt="Le Salond des Femmes" /></a>
      </div>
    </div>
  </div>
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Adres</h3>
          <p>
          <a href="https://www.google.com/maps/place/tweede+golf+bv/@51.822895,5.869926,17z/data=!3m1!4b1!4m2!3m1!1s0x47c708fbab5e926d:0xaf8fddaed8fb8cc1">
            <span class="fa fa-map-marker"></span>
            St. Annastraat 113 <br>
            6524 EK Nijmegen
          </a>
          </p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Bel ons</h3>
          <ul class="list-inline">
            <li>
              <a href="skype:tweedegolf.support?call" target="_blank" class="btn-social btn-outline">
              <i class="fa fa-fw fa-skype"></i>
            </a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Contact</h3>
          <p>
          <span class="fa fa-phone"></span>
          024 - 3010 484 <br>
          <a href="mailto:info@tweedegolf.nl">
            <span class="fa fa-envelope"></span> info@tweedegolf.nl
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; {{ site.time | date: '%Y' }} - {{ site.name }}
        </div>
      </div>
    </div>
  </div>
</footer>
