---
layout: default
---

{% include navbar.html %}

<header class="blog">
  <img class="leadimg" src="/img/blog/oculus-rift.jpg" alt="Virtual Reality demo" />
  <div class="container">
    <div class="article-heading">
      <h1>Research blog</h1>
    </div>
  </div>
</header>

<section id="blog-items">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        {% include blog-item.html %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include footer.html %}
