---
layout: default
title: Research blog
description: Tweede golf research blog
---

{% include navbar.html %}

<header class="blog">
  <img class="leadimg" src="/img/blog/google-cardboard2.jpg" />
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="intro-desc">
          <span class="icon-research"></span>
          <h1>{{ page.title }}</h1>
          <hr class="separator">
          {% capture research %}{% include /about/research.md %}{% endcapture %}
          {{ research|markdownify }}
        </div>
      </div>
    </div>
  </div>
</header>

<section id="blog-items">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
        {% include blog-item.html %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include footer.html %}
