---
layout: default
---

{% include navbar.html %}

<header class="blog">
  <img class="leadimg" src="/img/blog/oculus-rift.jpg" alt="Virtual Reality demo" />
  <div class="container">
    <div class="article-heading">
      <h1>Research blog</h1>
    </div>
  </div>
</header>

<section id="blog-items">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      <div class="col-sm-4 blog-item">
        <a href="{{ post.url }}" class="blog-link">
          {% if post.thumb %}
            <img src="/img/blog/thumbs/{{ post.thumb }}" class="img-responsive" />
          {% endif %}
          <div class="tags">
            <span>tag</span>
            <span>tag</span>
            <span>tag</span>
          </div>
          <h3>{{ post.title }}</h3>
          <hr>
          <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include footer.html %}
