---
layout: google_for_work_landing
title: Google for Work
description: Een custom web app die bijvoorbeeld de kracht van Google Drive benut? Wij bouwen naadloze integraties met onder andere Google Drive, Sheets en Calendar.
permalink: google-for-work/
contact: Bram
about: Google for Work bij tweede golf
---

<section id="landing">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div class="main" name="main">
          <span class="icon calendar"></span>
          {% capture main %}{% include /google-for-work/power_of_google_apps.md %}{% endcapture %}
          {{ main|markdownify }}
        </div>
      </div>
      <div class="col-sm-6">

        <div class="adv">
          <span class="icon award"></span>
          <div class="truncate-2-lines">
            {% capture adv1 %}{% include /symfony/advantage_1.md %}{% endcapture %}
      		  {{ adv1|markdownify }}
          </div>
        </div>

        <div class="adv">
          <span class="icon gear"></span>
          <div class="truncate-2-lines">
            {% capture adv2 %}{% include /symfony/advantage_2.md %}{% endcapture %}
      		  {{ adv2|markdownify }}
          </div>
        </div>

        <div class="adv">
          <span class="icon love"></span>
          <div class="truncate-2-lines">
            {% capture adv3 %}{% include /symfony/advantage_3.md %}{% endcapture %}
            {{ adv3|markdownify }}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
