<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=ngG9W6J8eo">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=ngG9W6J8eo" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png?v=ngG9W6J8eo" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json?v=ngG9W6J8eo">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=ngG9W6J8eo" color="#00a17b">
    <link rel="shortcut icon" href="/favicons/favicon.ico?v=ngG9W6J8eo">
    {% if page.noindex == true %}<meta name="robots" content="noindex">{% endif %}
    <meta name="apple-mobile-web-app-title" content="tweede golf">
    <meta name="application-name" content="tweede golf">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml?v=ngG9W6J8eo">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description | strip_html }}" />
    <meta name="description" content="{{ page.description | strip_html }}">
    <title>{{ page.title }}</title>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="/assets/css/html5shiv.js"></script>
      <script src="/assets/css/respond.min.js"></script>
    <![endif]-->
    <script>
      if(location.hostname !== 'localhost') {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-2008962-1', 'auto');
        ga('send', 'pageview');
      }
    </script>
  </head>
  <body id="page-top" class="index {% if page.pageclass %}{{ page.pageclass }}{% endif %}">
    <div id="wrapper">

      {{ content }}

    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/sha1.min.js"></script>
    <script src="/assets/js/jquery.lazyload.min.js"></script>
    <script src="/assets/js/pixelate.min.js"></script>
    <script src="/assets/js/theme.js" charset="utf-8"></script>
    <script type="text/javascript" src="//s7.addthis.com/css/300/addthis_widget.js#pubid=ra-5155ba434aa40c17" async="async"></script>
    <script>
      function stopVideos() {
        $('iframe').each(function(){
          // Reload iframe, thus stopping the video
          $(this).attr('src', $(this).attr('src'));
        });
      }
    </script>

    <!-- Google-code voor remarketingtag -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 935374686;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/935374686/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
  </body>
</html>
