<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ post.excerpt || page.title }}" />
    <meta name="description" content="{{ page.description || post.excerpt }}">
    
    <title>{{ site.name }}</title>

    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Oxygen:700,400,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
    <script>
      if(location.hostname !== 'localhost') {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-2008962-1', 'auto');
        ga('send', 'pageview');
      }
    </script>
  </head>
  <body id="page-top" class="index">
    <div id="wrapper">

      {{ content }}

    </div>
  <script>
    function stopVideos() {
      $('iframe').each(function(){
        // Reload iframe, thus stopping the video
        $(this).attr('src', $(this).attr('src'));
      });
    }
  </script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/sha1.min.js"></script>
  <script src="/js/theme.js"></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5155ba434aa40c17" async="async"></script>


  </body>
</html>
