---
layout: default
---

<div id="nav-landing">
{% include sections/navbar.html %}
</div>

<header class="partners landing">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="intro-desc">
          <span class="icon-header icon-partners"></span>
          <h1>{{ page.title }}</h1>
          <hr class="separator">

          {% capture intro %}{% include texts/partners/intro.md %}{% endcapture %}
          {{ intro|markdownify }}
          <div class="page-scroll">
            <a class="tocontent" href="#landing"><i class="fa fa-3x fa-angle-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{{ content }}

{% include sections/contact.html %}

{% include sections/footer.html %}
