---
layout: default
---

{% include navbar.html %}

<header class="blog">
  <img class="leadimg" src="/img/blog/oculus-rift.jpg" alt="Virtual Reality demo" />
  <div class="container">
    <div class="article-heading">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</header>

<section id="blog-post">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <article>
          <p>{{ content }}</p>
        </article>
      </div>

      {% for member in site.data.members %}
        {% if member.name == page.author %}
          <div class="col-sm-6 col-md-4">
            <div class="member-card">
              {% if member.avatar %}
                <img src="/img/team/{{ member.avatar }}"></img>
              {% else %}
                <img class="img-circle" src="/img/team/member.jpg"></img>
              {% endif %}
              <span class="name">{{ member.name }}</span>
              <span class="job">{{ member.job }}</span>
              <span class="email">{{ member.email }}</span>
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</section>


{% include footer.html %}
