---
layout: default
---

{% include navbar.html %}

<header class="blog">
  <img class="leadimg" src="/img/blog/oculus-rift.jpg" alt="Virtual Reality demo" />
  <div class="container">
    <div class="article-heading">
      <div class="tags">
        <span class="fa fa-tags"></span>
        {{ page.tags | join: ' ' }}
      </div>
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</header>

<section id="post-content">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <article>
          {{ content }}
        </article>
      </div>
      <div class="col-md-offset-1 col-md-4">

      {% for member in site.data.members %}
        {% if member.name == page.author %}
          <div class="member-card">
            {% if member.avatar %}
              <img src="/img/team/{{ member.avatar }}"></img>
            {% else %}
              <img class="img-circle" src="/img/team/member.jpg"></img>
            {% endif %}
            <span class="name">{{ member.name }}</span>
            <span class="job">{{ member.job }}</span>
            <span class="email">{{ member.email }}</span>
          </div>
        {% endif %}
      {% endfor %}

      <p>Posted on <strong>{{ page.date | date: "%-d %B %Y" }}</strong></p>

      <div class="addthis_sharing_toolbox" data-url="http://tweedegolf.com{{ page.url }}" data-title="{{ page.title }}"></div>
      {% if page.github %}
      <a href="{{ page.github }}">
        <span class="button github" title="GitHub"></span>
      </a>
      {% endif %}

      {% for post in site.posts %}
        <div class="blog-item">
          <a href="{{ post.url }}" class="blog-link">
            {% if post.thumb %}
              <img src="/img/blog/thumbs/{{ post.thumb }}" class="img-responsive" />
            {% endif %}
            <div class="tags">
              <span class="fa fa-tags"></span>
              <strong>{{ post.tags | join: ' ' }}</strong>
            </div>
            <hr>
            <h3>{{ post.title }}</h3>
          </a>
        </div>
      {% endfor %}

      </div>
    </div>
  </div>
</section>


{% include footer.html %}
