---
layout: default
---

{% include sections/navbar.html %}

<header class="blog">
  <img class="leadimg" src="/assets/img/blog/{% if page.leadimg %}{{ page.leadimg }}{% else %}oculus-rift.jpg{% endif %}" />
  <div class="container">
    <div class="article-heading">
      {% if page.tags.size > 0 %}
      <div class="tags">
        <span class="fa fa-tags"></span>
        {{ page.tags | join: ' ' }}
      </div>
      {% endif %}
      <h1>
        {{ page.title }}
        {% if page.nerd %}
        <span class="nerd protip" title="Nerd rating: {{ page.nerd }}">
          {% for i in (1..{{page.nerd}}) %}
            <span class="icon-nerd"></span>
          {% endfor %}
        </span>
        {% endif %}
      </h1>
    </div>
  </div>
</header>

<section id="post-content">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <article>
          {{ content }}
        </article>

        <div id="contact" class="personal">
          <a name="contact"></a>
          <a name="contact-ok"></a>
          <div class="container">
            <div class="row">
              <div class="col-md-7">
                <h5>Get in touch</h5>
                <div class="alert alert-success alert-dismissible col-md-11" role="alert">
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Sluiten</span>
                  </button>
                  <strong>Thanks for your message!</strong>
                  We'll get in touch with you soon.
                </div>

                {% for member in site.data.members %}
                  {% if member.name == page.contact %}
                    <div class="member-card">
                      <a class="member-image {{ member.name }} col-xs-2"></a>
                      <p class="desc col-xs-8">Want to know more? Our <strong>{{ member.job }} {{ member.name }}</strong> can tell you everything about {{ page.about }}.</p>
                    </div>
                  {% endif %}
                {% endfor %}
                <div class="col-sm-12">
                  <form role="form" action="//mailer.tweedegolf.com" method="POST" class="hashable-form">
                  <input type="hidden" name="_next" value="http://tweedegolf.nl{{page.url}}#contact-ok" />
                    <div class="row">
                      <div class="form-group col-xs-10 floating-label-form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" name="name" placeholder="Name">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-10 floating-label-form-group">
                        <label for="email">Email address</label>
                        <input class="form-control" type="email" name="email" placeholder="Email address" required="required">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-10 floating-label-form-group">
                        <label for="message">Message</label>
                        <textarea placeholder="Message" class="form-control" name="message" rows="5"></textarea>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="form-group col-xs-10">
                        <button type="submit" class="btn btn-lg btn-primary">
                          Send
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-4 col-sm-12">
        <p>Posted on <strong>{{ page.date | date: "%-d %B %Y" }}</strong></p>
        {% for member in site.data.members %}
          {% if member.name == page.author %}
            <div class="member-card">
              <a class="member-image {{ member.name }}"></a>
              <span class="name">by <strong>{{ member.name }}</strong></span>
              <span class="job">{{ member.job }}</span>
              {% if member.employed %}
              <span class="email">{{ member.email }}</span>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}

        <div class="post-info">
          <div class="addthis_sharing_toolbox" data-url="http://tweedegolf.nl{{ page.url }}" data-title="{{ page.title }}"></div>
          {% if page.github %}
          <a class="code btn btn-primary" target="_blank" href="{{ page.github }}">
            <i class="fa fa-code fa-lg"></i>
            View code
          </a>
          {% endif %}
        </div>

        <div class="recent-posts">
          <h3 class="heading">Recent posts</h3>
          {% for post in site.posts %}
            {% include sections/blog-item.html %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</section>

{% include sections/footer.html %}
