---
permalink: /instant-dev-team/
layout: landing
pageclass: dev-team
image: /assets/img/icon-team-wh.png
title: Instant development team
intro: "Werven en selecteren... of meteen een stabiel &amp; ready-to-go dev team inschakelen?"
contact:
about: Instant development team
contact_ok_link: //tweedegolf.nl/dev-team-to-go/#contact-ok

dual-text1:
  lead: texts/dev-team/intro.md
  text1:
    icon: /assets/img/icon-love.png
    title: Ons dev team
    text: "Tweede golf heeft drie development teams op eigen locatie waar we met open source webtechnieken state-of-the-art producten ontwikkelen. Enthousiast en perfect op elkaar ingespeeld, met jarenlange ervaring in allerlei projecten. En, ze kunnen morgen al voor jou aan de slag."
  text2:
    icon: /assets/img/icon-po.png
    title: Jouw product owner
    text: "Jouw product owner maakt als aanvoerder-met-mandaat deel uit van het scrum-team. Je krijgt toegang tot onze full stack kennis en voorzieningen. We werken met korte slagen en korte lijnen."

call-to-action1:
  button-link: "tel:0031610656501"
  button-text: Meer weten? Bel Erik
  icon: phone
  class: lightweight

quote1:
  text: "Tweede golf is al ruim vijf jaar onze technische partner waarmee we ons backoffice systeem en de sites voor Askja en VNC hebben ontwikkeld. De grondige inventarisatie die we bij de start uitvoerden was een eye-opener en was cruciaal voor het succes van het project."
  author: "– **Sander van Opstal**, directeur Askja Reizen &amp; VNC Asia Travel"
  class: lightweight
---

{% include sections/dual-text.html
  dual-text=page.dual-text1
%}

{% include sections/call-to-action.html
  cta=page.call-to-action1
%}

{% include sections/quote.html
  quote=page.quote1
%}
